[user]
        name = Thomas Deegan
        email = tadeegan@gmail.com
[color]
        ui = auto
[core]
        autocrlf = input
[alias]
        s = status
        l = log --oneline --decorate --graph --all
        co = checkout
        ds = diff --staged
[push]
        default = simple
